{% extends 'base/base.html' %} {% load static %} {% block content %}

<!-- About ME start -->
<div class="about-container">
    <header>
        <h1 class="about">About Me</h1>
    </header>
    <section class="bio">
        <img
            src='{% static "img/profile.jpg"%}'
            alt="Your Photo"
            class="profile-photo"
        />
        <div class="bio-content">
            <h1>Abhinesh Kumar</h1>
            <ul>
                <li calss="list">
                    <strong class="heading">Introduction: <strong/>
                    <p class="paragrapg">
                        Hello! I'm Abhinesh Kumar, a passionate Full-Stack
                        Developer and AI/ML enthusiast. My journey in the tech
                        world has been driven by a relentless curiosity and a
                        desire to build innovative solutions that make a
                        difference. Whether it’s developing robust web
                        applications or diving into the complexities of machine
                        learning algorithms, I thrive on challenges and
                        continuous learning.
                    </p>

                </li>
                <li calss="list">
                    <strong class="heading">Professional Background:</strong>
                    <p class="paragrapg">
                        With over a year of hands-on experience in full-stack
                        development, I've had the opportunity to work on a
                        variety of projects that span across different
                        technologies. My expertise lies in creating seamless
                        user experiences and efficient backend systems. My work
                        often involves leveraging Django for web development,
                        integrating APIs like Twitter API, and utilizing
                        blockchain technology for secure and transparent
                        applications.
                    </p>
                </li>
                <li calss="list">
                    <strong class="heading">Passion for AI/ML:</strong>
                    <p class="paragrapg">
                        My interest in AI and Machine Learning has led me to
                        explore and contribute to various projects in this
                        domain. I am particularly fascinated by how AI can
                        transform industries and improve lives. I continuously
                        hone my skills by experimenting with new models,
                        participating in AI challenges, and staying updated with
                        the latest advancements in the field.
                    </p>
                </li>
                <li calss="list">
                    <strong class="heading">Personal Touch:</strong>
                    <p class="paragrapg">
                        Beyond coding, I’m someone who loves to explore the
                        world through the lens of technology. Whether it’s
                        staying up late to troubleshoot a tricky problem or
                        diving into the latest tech trends, I find joy in the
                        process of creation and discovery. When I’m not at my
                        desk, you can find me reading about the latest in AI,
                        experimenting with new gadgets, or enjoying a quiet
                        moment with a good book.
                    </p>
                </li>
                <li calss="list">
                    <strong class="heading">Why I Do What I Do:</strong>
                    <p class="paragrapg">
                        For me, technology is not just a career; it’s a passion.
                        I believe in the power of code to change the world, and
                        I am committed to using my skills to contribute to
                        meaningful projects. My goal is to continuously learn,
                        grow, and share my knowledge with others, while building
                        a career that leaves a positive impact.
                    </p>
                </li>
                <li calss="list" >
                    <strong class="heading">Let’s Connect:</strong>
                    <p class="paragrapg">
                        If my work resonates with you, or if you have any
                        exciting projects in mind, feel free to reach out. I’m
                        always open to new opportunities and collaborations that
                        challenge me to push the boundaries of what’s possible.
                        I’m always open to new opportunities, collaborations,
                        and conversations. If you’d like to connect, feel free
                        to reach out via email or LinkedIn. I look forward to
                        hearing from you!
                    </p>
                </li>
            </ul>
        </div>
    </section>
</div>
{%endblock%}
