{% extends 'base/base.html' %} {% load static %} {% block content %}

<div class="contact-container">
    <div class="contact-section">
        <h1>Contact Me</h1>
        <p>
            If you would like to get in touch with me, please fill out the form
            below.
        </p>
        <form
            class="form"
            action="{% url 'contact' %}"
            method="POST"
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                    required
                />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                />
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input
                    type="tel"
                    class="form-control"
                    id="phone"
                    name="phone"
                    placeholder="Enter your phone number"
                />
            </div>
            <div class="form-group">
                <label for="position">Current Working Position:</label>
                <input
                    type="text"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="Enter your current position"
                />
            </div>
            <div class="form-group">
                <button type="submit" class="btn-submit submit-action">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

{%endblock%}
