{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Abhinesh Kumar</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link href='{% static "css/sidebar.css" %}' rel="stylesheet" />
    </head>
    <body>
        <!-- sidebar.html -->
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href='{% url "index"%}'>Home</a></li>
                    <li><a href='{% url "about"%}'>About</a></li>
                    <li><a href='{% url "contact"%}'>Contact</a></li>
                    <li><a href='{% url "service"%}'>Services</a></li>
                    <img
                        src='{% static "img/abhi.png" %}'
                        class="signimg"
                        alt="Abhinesh Kumar"
                    />
                </ul>
            </nav>
        </aside>
        <!--sidebar end -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
